<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/main.css">
    <title>Gráficos Dinâmicos</title>
</head>

<body>
    <div class="container">
        <div class="card">
            <div class="tarefas">

            <!-- progresso 1 -->
                <div class="tarefas-em-aberto">
                    <div style="display: flex; gap: 15px;">
                        <h4>Tarefas em aberto</h4>
                        <img width="55" src="../static/img/CALENDAR HOUR ICON.svg" alt="">
                    </div>
                    <div>
                        <h2 style="font-size: xx-large;">09</h2>
                    </div>
                </div>

                <div class="tarefas-em-aberto">
                    <div style="display: flex; gap: 15px;">
                        <h4>Tarefas concluídas</h4>
                        <img width="55" src="../static/img/CALENDAR HOUR ICON.svg" alt="">
                    </div>
                    <div>
                        <h2 style="font-size: xx-large;">09</h2>
                    </div>
                </div>
            </div>
            <div class="grafico">
                <div class="percent">
                    <div class="progress-circle">
                        <svg>
                            <circle cx="75" cy="75" r="60"></circle>
                            <circle class="progress-bar" cx="75" cy="75" r="60"></circle>
                            <!-- Adicionando o número da porcentagem e o símbolo de porcentagem dentro do círculo -->
                            <text id="progresso1" style="font-size:xx-large; font-weight: bold; fill: #fff;" x="50%"
                                y="50%" text-anchor="middle" dominant-baseline="middle" font-size="24"
                                fill="black">50%</text>
                        </svg>
                    </div>
                </div>
                <br>
            </div>
            <br>
        </div>
        <br>
        <!-- <div class="card">
            <div class="tarefas">
                <div class="tarefas-em-aberto">
                    <div style="display: flex; gap: 15px;">
                        <h4>Tarefas em aberto</h4>
                        <img width="55" src="../static/img/CALENDAR HOUR ICON.svg" alt="">
                    </div>
                    <div>
                        <h2 style="font-size: xx-large;">09</h2>
                    </div>
                </div>

                <div class="tarefas-em-aberto">
                    <div style="display: flex; gap: 15px;">
                        <h4>Tarefas concluídas</h4>
                        <img width="55" src="../static/img/CALENDAR HOUR ICON.svg" alt="">
                    </div>
                    <div>
                        <h2 style="font-size: xx-large;">09</h2>
                    </div>
                </div>
            </div>
            <div class="grafico">
                <div class="percent">
                    <div class="progress-circle">
                        <svg>
                            <circle cx="75" cy="75" r="60"></circle>
                            <circle class="progress-bar" cx="75" cy="75" r="60"></circle>
                            <text id="progresso1" style="font-size:xx-large; font-weight: bold; fill: #fff;" x="50%"
                                y="50%" text-anchor="middle" dominant-baseline="middle" font-size="24"
                                fill="black">50%</text>
                        </svg>
                    </div>
                </div>
                <br>
            </div>
            <br>
        </div> -->
    </div>
    <script src="../static/js/main.js"></script>
</body>

</html>